server:
  port: 8001

spring:
  application:
    name: spring-demo
#  profiles:
#    active: dev
  datasource:
    url: jdbc:mysql://localhost:3306/springdemo
    username: root
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database: mysql
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
logging:
  level:
    org.springframework.security: DEBUG
